# Dependencies
node_modules/

# Build outputs
dist/
.build/
.serverless/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Installer files
*.msi
